label {
    display: block;
    margin-top: 10px;
    color: #f23517;
    font-size: 1.5em;
}

.btn, btn-mystyle {
    width: auto;
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FEDA3C;
    color: black;
    font-size: 1.5em;
}

.mb-3 {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  color: #FEDA3C;
  font-size: 3em;
}

.form-control {
  height: 40px;
  border-radius: 1.5rem;
}
.bgroundcolor {
  background-color: #FEDA3C;
  padding: 15px;
}

.btn-close {
  padding-bottom: 15px;
}

.alert {
 margin-bottom: 5px; 

}