<div class="container">
  <div class="forms-container">
    <div class="signin-signup">

      <form
        *ngIf="!isSignup"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
        <h2 class="title">Enregistrement</h2>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Mail"
            [(ngModel)]="form.email"
            required
            #email="ngModel">
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            type="text"
            name="username"
            minlength="3"
            maxlength="20"
            [(ngModel)]="form.username"
            #username="ngModel"
            autocomplete="username"
            placeholder="Pseudo"
            required>
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            autocomplete="current-password"
            placeholder="Mot de pass"
            id="id_password"
            required
            id="password"
            name="password"
            minlength="6"
            maxlength="40"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel">
        </div>
        <ng-container *ngIf="!f.form.valid"><p>Vos informations ne sont pas conformes</p></ng-container>
        <input type="submit" value="Valider votre compte" class="btn solid">

      </form>

    </div>
  </div>
  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Vous avez déjà un compte ?</h3>
        <p>Connectez vous pour profiter à 100% du contenu de DIONYSOS</p>
        <button class="btn transparent" routerLink="/client/login" id="sign-up-btn">Se connecter</button>
      </div>
      <!--      <img src="assets/images/logo.jpg" class="image" alt="">-->
    </div>

  </div>
</div>

