<section class="facility">

  <div class="heading">
    <h3>Bienvenue dans l'admin board</h3>
  </div>

  <div class="box-container">


    <ng-container *ngFor="let event of events">
      <div class="box">
        <h3> {{ event.eventTitle }}</h3>
        <p> Description : {{ event.description }} </p>
        <p> Ville :  {{ event.city }} </p>
        <p> Date et heure début :  {{ event.hourBegin | date: 'dd-MM-yyyy HH:mm'}} </p>
      </div>
    </ng-container>
  <div class="box-container">
    <div class="box">
      <button class="btn solid">Ajouter un Evénement</button>
    </div>

  </div>
  </div>
</section>

<!-- <section class="facility">

  <app-map></app-map>

</section> -->
