<section class="facility">

  <div class="heading">
    <h3>Bienvenue dans l'admin board</h3>
  </div>

  <br><br>
  <h1>Liste de tous les événements</h1>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- eventTitle Column -->
      <ng-container matColumnDef="eventTitle">
        <th mat-header-cell *matHeaderCellDef> eventTitle </th>
        <td mat-cell *matCellDef="let element"> {{element.eventTitle}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> city </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="hourBegin">
        <th mat-header-cell *matHeaderCellDef> hourBegin </th>
        <td mat-cell *matCellDef="let element"> {{element.hourBegin}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="authorId">
        <th mat-header-cell *matHeaderCellDef> authorId </th>
        <td mat-cell *matCellDef="let element"> {{element.authorId}} </td>
      </ng-container>




      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

















  <br><br>
  <h1>Liste de tous les événements</h1>
  <div class="box-container">

    <ng-container *ngFor="let event of events">
      <div class="box">
        <h3> {{ event.eventTitle }}</h3>
        <p> Description : {{ event.description }} </p>
        <p> Ville :  {{ event.city }} </p>
        <p> Date et heure début :  {{ event.hourBegin | date: 'dd-MM-yyyy HH:mm'}} </p>
      </div>
    </ng-container>











  <div class="box-container">
    <div class="box">
      <button class="btn solid" (click)="addEvent()">Ajouter un Evénement</button>
    </div>

  </div>
  </div>
</section>
