<section class="facility">

  <div class="heading">
    <h3>Bienvenue dans l'admin board</h3>
  </div>

  <br><br>
  <h1>Liste de tous les événements</h1>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- eventTitle Column -->
      <ng-container matColumnDef="eventTitle">
        <th mat-header-cell *matHeaderCellDef> eventTitle </th>
        <td mat-cell *matCellDef="let element"> {{element.eventTitle}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> city </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>



      <!-- Symbol Column -->
      <ng-container matColumnDef="hourBegin">
        <th mat-header-cell *matHeaderCellDef> hourBegin </th>
        <td mat-cell *matCellDef="let element"> {{element.hourBegin}} </td>
      </ng-container>

      <ng-container matColumnDef="hourEnd">
        <th mat-header-cell *matHeaderCellDef> hourEnd </th>
        <td mat-cell *matCellDef="let element"> {{element.hourEnd}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> createdAt </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
      </ng-container>

      <ng-container matColumnDef="userLikes">
        <th mat-header-cell *matHeaderCellDef> userLikes </th>
        <td mat-cell *matCellDef="let element"> {{element.userLikes}} </td>
      </ng-container>

      <ng-container matColumnDef="userDislikes">
        <th mat-header-cell *matHeaderCellDef> userDislikes </th>
        <td mat-cell *matCellDef="let element"> {{element.userDislikes}} </td>
      </ng-container>

      <ng-container matColumnDef="usersParticipating">
        <th mat-header-cell *matHeaderCellDef> usersParticipating </th>
        <td mat-cell *matCellDef="let element"> {{element.usersParticipating}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> category </th>
        <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
      </ng-container>


      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="authorId">
        <th mat-header-cell *matHeaderCellDef> authorId </th>
        <td mat-cell *matCellDef="let element"> {{element.authorId}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page">
  </mat-paginator>





    <br><br>
    <h1>Liste de tous les utilisateurs</h1>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceUsers">

        <!-- eventTitle Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef> firstname </th>
          <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>

        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef> lastname </th>
          <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumnsUsers"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumnsUsers;"></tr>
      </table>

<!--      <mat-paginator-->
<!--        [pageSizeOptions]="[5, 10, 20]"-->
<!--        showFirstLastButtons-->
<!--        aria-label="Select page">-->
<!--      </mat-paginator>-->

  </div>

    <br><br>
    <h1>Liste de toutes les catégories</h1>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceCategories">


        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumnsCategories"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumnsCategories;"></tr>
      </table>

<!--      <mat-paginator-->
<!--        [pageSizeOptions]="[5, 10, 20]"-->
<!--        showFirstLastButtons-->
<!--        aria-label="Select page">-->
<!--      </mat-paginator>-->

    </div>


</div>













</section>
