<div class="home-bg">
  <section class="home" id="home">
    <div class="content">
      <h3>Dionysos</h3>
      <p>La première application événementielle collaborative <br> en temps réel.</p>

    </div>
  </section>
</div>
<section class="about" id="about">

  <div class="image">
    <img src="assets/images/about-img.svg" alt="">
  </div>

  <div class="content">
    <h3>Appréhender la journée sereinement</h3>
    <p>Avec Dionysos, Plus de Galère: La soirée est déjà programmée.</p>
    <a href="#menu" class="btn">C'est pas votre cas ?</a>
  </div>

</section>

<section class="facility">

  <div class="heading">

    <h3>Avec DIONYSOS, vous êtes acteur de l'application </h3>
  </div>

  <div class="box-container">

    <div class="box">
      <img src="assets/images/personne.jpg" alt="">
      <h3>Vous êtes dans un lieu très sympa par hasard ?</h3>
      <p>Partage le :) </p>
    </div>

    <div class="box">
      <img src="assets/images/marqueur.png" alt="">
      <h3>Pose un marqueur sur ta position</h3>
      <p>Ton marqueur est visible pour les personnes qui recherchent ce même type d'événement</p>
    </div>

    <div class="box">
      <img src="assets/images/all.png" alt="">
      <h3>Tous type d'événement</h3>
      <p>Que ce soit un concert dans un bar, un Jam dans la rue, un bon restaurant....</p>
    </div>

    <div class="box">
      <img src="assets/images/partage.jpg" alt="">
      <h3>T'as compris l'idée ?</h3>
      <p>et fais profiter la commu !</p>
    </div>

  </div>

</section>

<section class="menu" id="menu">

  <div class="heading">
    <h3>Cibler votre recherche</h3>
  </div>

  <div class="box-container">

    <div class="box">
      <img src="assets/images/menu-1.png" alt="">
      <h3>Petit concert</h3>
    </div>

    <div class="box">
      <img src="assets/images/menu-2.png" alt="">
      <h3>Un bon restaurant</h3>
    </div>

    <div class="box">
      <img src="assets/images/menu-3.png" alt="">
      <h3>Jam de rue</h3>
    </div>

    <div class="box">
      <img src="assets/images/menu-4.png" alt="">
      <h3>Une exposition</h3>
    </div>

    <div class="box">
      <img src="assets/images/menu-5.png" alt="">
      <h3>Danse urbaine</h3>
    </div>

    <div class="box">
      <img src="assets/images/menu-6.png" alt="">
      <h3>le bon plan du moment ? </h3>
    </div>

  </div>

</section>

<section class="contact" id="contact">

  <div class="row">
    <div class="image">
      <img src="assets/images/contact-img.svg" alt="">
    </div>
  </div>

</section>






























<!--<div class="partAcceuil">-->
<!--    <h1 class="texteAcceuil">Bienvenue sur</h1>-->
<!--    <div class="logo"> <img [src]="urlLogo"></div>-->
<!--    <h1 class="texteAcceuil">Dionysos</h1>-->
<!--</div>-->
