<div class="home-bg" [ngStyle]="{'background' : 'linear-gradient(90deg, white, transparent 70%), url(assets/images/home-bg.jpg)'}">

  <section class="home" id="home">

    <div class="content">
      <h3>Bienvenue sur DIONYSOS</h3>
      <p>La première application événementielle collaborative en France</p>
      <a href="#about" class="btn">En savoir plus</a>
    </div>

  </section>

</div>

<section class="about" id="about">

  <div class="image">
    <img src="assets/images/about-img.svg" alt="">
  </div>

  <div class="content">
    <h3>Commencer sereinement votre journée</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam suscipit sunt repellendus, dolorum recusandae placeat quae. Iste eaque aspernatur, animi deleniti voluptas, sunt molestias eveniet sint consectetur facere a ex.</p>
  </div>

</section>
<!-- Section pour les event ci-dessous -->
<section class="facility">

  <div class="heading">
    <h3>Aperçu des événements</h3>
  </div>

  <app-list-event></app-list-event>
 
</section>

<!-- <section class="facility">

  <app-map></app-map>

</section> -->
