<section class="facility">
  <div class="box-container">
    <ng-container >

    </ng-container>
    <ng-container *ngFor="let event of events">
      <div class="box">
          <img src="assets/images/icon-1.png" alt="">
          <h3> {{ event.eventTitle }}</h3>
          <p> Description : {{ event.description }} </p> 
          <p> Ville :  {{ event.city }} </p> 
          <p> Date et heure début :  {{ event.hourBegin | date: 'dd-MM-yyyy HH:mm'}} </p> 

        </div>
    </ng-container>      
  </div>
    <ng-container *ngIf="isLoggedIn">
      <div class="box-container">
        <div class="box">
            <button class="btn solid" (click)="addEvent()">Ajouter un Evénement</button>
        </div>
      </div>
    </ng-container>
</section>

<section class="facility">
  <div class="map-container">
    <div class="map-frame">
        <div id="map">
        </div>
    </div>
  </div>
</section>
  