
<header class="header">
  <section class="flex">

    <a routerLink="">DIONYSOS</a>

    <nav class="navbar">
      <a href="#home">Home</a>
      <ng-container *ngIf="isLoggedIn && isAdmin">
        <a routerLink="admin">Admin Board</a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn && isModerator">
        <a routerLink="/client/user">Modérateur Board</a>
      </ng-container>
      <ng-container *ngIf="!isLoggedIn">
        <a routerLink="/client/login">Connexion</a>
        <a routerLink="/client/register">Inscription</a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <a routerLink="/client/profile">{{ username }} profile</a>
        <a routerLink="/client/event">Evénements</a>
        <a (click)="logout()">Deconnexion</a>
      </ng-container>
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>

  </section>
</header>
















