
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$front-primary: mat.define-palette(mat.$indigo-palette);
$front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-theme: mat.define-light-theme((
  color: (
    primary: $front-primary,
    accent: $front-accent,
    warn: $front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($front-theme);

///* You can add global styles to this file, and also import other style files */
//
//body {
//    background-color: #78dbc6;
//    text-align: center;
//}/* You can add global styles to this file, and also import other style files */
//
//body {
//    background-color: #78dbc6;
//    text-align: center;
//}
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}


/* media queries  */

@media (max-width:991px){

  html{
    font-size: 55%;
  }

}

@media (max-width:768px){

  #menu-btn{
    display: inline-block;
    transition: .2s linear;
  }

  #menu-btn.fa-times{
    transform: rotate(180deg);
  }

  .header .flex .navbar{
    position: absolute;
    top:99%; left:0; right:0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: .2s linear;
  }

  .header .flex .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .flex .navbar a{
    display: block;
    margin:2rem;
  }

  .home-bg{
    background-position: left;
  }

  .home-bg .home{
    justify-content: center;
  }

  .home-bg .home .content h3{
    font-size: 4rem;
  }

  .about .content h3{
    font-size: 3rem;
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading img{
    height: 3rem;
  }

  .heading h3{
    font-size: 3rem;
  }

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
